{% extends "::base.html.twig" %}

{% block title "Bienvenido" %}

{% block body %}
	{% embed 'HelloDogBundle:Layout:navbar.html.twig' %}
	  {% block navbar %}
	    {{ parent() }}
	  {% endblock %}
	{% endembed %}

	{# incrustar web de bootic #}
    <div class="video">
  	  <iframe width="100%" height="800" src="http://hellodog.bootic.net/products" frameborder="0" allowfullscreen></iframe>
  	</div>


	<!-- Modal -->
	<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block; padding-left: 0px; background-color: rgba(0, 0, 0, 0.7);">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">Bienvenido a HelloDog</h4>
	      </div>
	      <div class="modal-body">
	        <!-- 4:3 aspect ratio -->
			<div class="embed-responsive embed-responsive-4by3">
			  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/g_Y6Tdr9j3o?rel=0&autoplay=1"></iframe>
			</div>
	      </div>
	      <div class="modal-footer">
	        <a href="{{ path('shop_buy') }}" type="button" class="btn btn-dark">Saltar Anuncio</a>
	      </div>
	    </div>
	  </div>
	</div>
	
{% endblock %}
