{% extends "::base.html.twig" %}

{% block title "Bienvenido " ~ app.user.username %}

{% block body %}
    {% embed 'HelloDogBundle:Layout:navbar.html.twig' %}
      {% block navbar %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}

    {# incrustar web de bootic #}
    <div class="video">
  	  <iframe width="100%" height="800" src="http://hellodog.bootic.net/admin" frameborder="0" allowfullscreen></iframe>
  	</div>
	
{% endblock %}