{% block politicas %}
<p>Los presentes términos y condiciones de Uso (en lo sucesivo los “Términos y Condiciones” rigen la relación entre usted (en lo sucesivo el “Usuario”) y “HelloDog SpA”  con relación a los servicios y productos disponibles al Usuario a través del sitio web www.hellodog.cl (en lo sucesivo el “Sitio Web”).</p>
<br>
<u><strong>1. Aceptación de los Términos y Condiciones</strong></u>
<p>El Usuario no podrá utilizar el Sitio Web en caso de que el Usuario carezca o tenga limitada su capacidad de ejercicio para aceptar los presentes Términos y Condiciones por cualquier causa.
Al visitar y/o usar el Sitio Web, el Usuario expresamente manifiesta estar conforme y obligarse a la totalidad de los presentes Términos y Condiciones, los demás documentos incorporados a los mismos por referencia, así como a las leyes y reglamentos aplicables de conformidad a la legislación vigente para el uso del Sitio Web.
Estos términos y condiciones son obligatorios y vinculantes para los contratantes, por lo que cualquier persona que no los acepte deberá abstenerse de utilizar y/o visitar el sitio web y/o cualquier otro servicio que ofrezca Helldog SpA.<br>
HelloDog SpA no guardará una copia individualizada del presente convenio celebrado entre el Usuario y HelloDog SpA, por lo que se le recomienda al Usuario que guarde una copia de los presentes Términos y Condiciones para su propio expediente.<br>
En caso de que el Usuario viole lo expresado en estos términos y condiciones, HelloDog SpA, podrá cancelar su uso, así como excluir al Usuario de futuras operaciones, y/o tomar la acción legal que juzgue conveniente para sus intereses.
</p>
<br>
<u><strong>2. Objeto</strong></u>
<br>
<p>En el Sitio Web el Usuario podrá comprar productos para mascotas (en lo sucesivo los “Productos”) así como consultar información con relación a mascotas (en lo sucesivo la “Nutrición”).</p>
<br>
<u><strong>3. Compra de los Productos</strong></u>
<br>
<p>Para poder realizar la compra de los Productos el Usuario deberá realizar el pago de los Productos seleccionados, impuestos y gastos de envió correspondientes a través de los proveedores de servicios de pagos que HelloDog SpA ponga a disposición del Usuario en el Sitio Web. El Usuario solamente podrá comprar Productos a través del Sitio Web para ser entregados en un domicilio dentro del territorio chileno.
<br>
<u><strong>4. Gastos de Envío y Entrega de los Productos</strong></u>
<br>
<p>HelloDog SpA enviará los Productos adquiridos por el Usuario al domicilio especificado por él, para este efecto siempre y cuando dicho domicilio se encuentre dentro del territorio chileno.
Los productos podrán ser enviados y entregados al usuario por terceros. En virtud de lo anterior, el Usuario acepta someterse para el envió y entrega de los productos a las políticas de entrega de las Empresas de Servicios de Paquetería mismas que se incorporan por referencia a los presentes Términos y Condiciones.
En caso de que el Usuario no haya recibido los productos en un plazo de 10 días hábiles posteriores a la realización de sus compra deberá ponerse en contacto con HelloDog SpA a través del número de atención a clientes o enviando un correo electrónico.</p>
<p>El Usuario deberá pagar los gastos de envió de los Productos adquiridos a través del Sitio Web de conformidad con las tarifas vigentes que HelloDog SpA establezca a través del Sitio Web, las cuales podrán ser modificadas por HelloDog SpAHelloDog SpA en cualquier momento sin previa autorización del Usuario.
<br>
<u><strong>5. Devoluciones</strong></u>
<br>
<u><strong>5.1. Condiciones de Devolución:</strong></u>
<br>
<p>El Usuario podrá devolver los Productos adquiridos a través del Sitio Web, siempre y cuando:
	•	Solicite la devolución dentro de las 72 horas siguientes a la realización de la compra de los Productos a través del Sitio Web.
	•	El o los Productos se encuentren en las mismas condiciones en las que fueron entregados al Usuario y encontrarse en la caja o empaque original
	•	En caso de tratarse de un producto consumible, incluyendo de manera enunciativa más no limitativa, alimento o premios para mascotas, el empaque o caja deberá encontrarse cerrado
 <br>
<u><strong>5.2. Proceso de Devolución:</strong></u>
<br>
<p>El proceso de devolución de los Productos será el siguiente:</p>
	<p>•	El Usuario deberá contactar a HelloDog SpA dentro del plazo establecido en el punto 6.1.a) anterior a través del número de atención a clientes o enviando un correo electrónico solicitando la devolución de los Productos y proporcionando, nombre, nombre de usuario, fecha de realización de la compra, domicilio en el cual se recogerán los Productos. En caso de que la devolución se debe a que el o los Productos son defectuosos o se trata de un Producto diferente al adquirido a través del Sitio Web, el Usuario deberá expresar dicha circunstancia, así como mencionar, en su caso, los defectos de los productos.</p>
	<p>•	Una vez aprobada la Solicitud de Devolución, HelloDog SpA enviará al Usuario una guía para el envío a través del la Empresa de Servicios de Paquetería correspondiente, así como programará la fecha y horario en la que la Empresa de Paquetería recogerá los Productos del domicilio proporcionado por el Usuario
	<p>•	El Usuario deberá en su caso, empaquetar el producto en su caja o empaque original, imprimir y entregar la guía, así como los Productos en su empaque o caja original a la Empresa de Servicios de Paquetería en la fecha y hora programa para tal efecto</p>
<p>En caso de que por causas imputables al Usuario, los Productos que este desea devolver no sean enviados por el Usuario a HelloDog SpA a través de la Empresa de Servicios de Paquetería correspondiente dentro de los 5 días naturales siguientes a la fecha de la Solicitud de Devolución, HelloDog SpA no tendrá la obligación de aceptar la devolución de los Productos. En este caso, HelloDog SpA enviará un aviso por escrito al correo electrónico del Usuario haciendo de su conocimiento que no tiene derecho a devolver los Productos.</p>
<br>
<u><strong>6. Reembolsos</strong></u><br>
<u><strong>6.1. Reembolsos en caso de devolución:</strong></u><br>
<p>Una vez recibido los Productos devueltos por el Usuario HelloDog SpA revisará los Productos devueltos.
En caso de que los Productos recibidos por HelloDog SpA cumplan con las características establecidas en los puntos b) y c) de la Sección 6.1 anterior HelloDog SpA tendrá la obligación de devolver el dinero pagado por el Usuario por los Productos devueltos de conformidad con lo siguiente:</p>
	<p>•	En caso de la devolución haya sido porque el o los Productos eran defectuosos o diferentes al Producto adquirido a través del Sitio Web y una vez acreditada dichos defectos por el equipo de calidad de HelloDog SpA, se le reembolsará al Usuario el costo de el o los Productos devueltos más los gastos del envió realizado por HelloDog SpA al Usuario de conformidad con la Sección 5.
	<p>•	En cualquier otro caso, HelloDog SpA reembolsará al Usuario el costo de los Productos devueltos por el Usuario</p>
	<p>•	HelloDog SpA realizará los reembolsos correspondientes de acuerdo con 1. y 2. anterior dentro de 48 horas contados a partir del día en que HelloDog SpA recibió los Productos devueltos. Los reembolsos se realizarán a la tarjeta de débito o crédito utilizada por el Usuario para realizar el pago de los Productos a través del Sitio Web o mediante cheque nominativo.</p>
<br>
<u><strong>6.2. Reembolsos por cancelación:</strong></u><br>
<p>En caso de cancelación de la compra realizada por el Usuario de acuerdo con la Sección 4 de los presentes Términos y Condiciones, HelloDog SpA deberá reembolsar al Usuario la totalidad de la cantidad pagada por el Usuario dentro de los 7 días hábiles siguientes contados a partir de la fecha de la cancelación de la compra del Usuario. El reembolso se realizará a la tarjeta de débito o crédito utilizada por el Usuario para realizar el pago de los Productos a través del Sitio Web o cheque nominativo.</p>

<br>
<u><strong>7. Cuenta del Usuario</strong></u><br>
<p>El Usuario podrá contar con una cuenta personal ingresando los datos solicitados en el Sitio Web. La Cuenta del Usuario es personal, única e intransferible. A través de la Cuenta del Usuario el Usuario podrá acceder a su historial de compras y pedidos realizados, verificar el estado de sus pedidos, acceder a su carrito de compra, tener acceso a promociones y descuentos que de tiempo en tiempo informe HelloDog SpA. Podrá personalizar el contenido que se le presente del Sitio Web de acuerdo con sus preferencias, así como utilizar cualquier tipo de funcionalidades que HelloDog SpA pueda aplicar en el futuro a la Cuenta del Usuario.
El Usuario solo podrá contar con una Cuenta del Usuario. En caso de que HelloDog SpA detecte distintas Cuentas que contengan datos coincidentes o relacionados, podrá cancelarlas, suspenderlas o inhabilitarlas, a su sola discreción. El Usuario será responsable por todas las operaciones efectuadas desde su Cuenta del Usuario. Está prohibida la venta, cesión, transferencia o transmisión de la Cuenta del Usuario bajo cualquier título, ya sea oneroso o gratuito.</p>
<p>HelloDog SpA se reserva el derecho rechazar el registro de una Cuenta del Usuario o una Cuenta del Usuario en caso de considerar que el Usuario no ha dado cumplimiento a la los presentes Términos y Condiciones, sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello genere derecho a indemnización o resarcimiento alguno a favor del Usuario.</p>
<br>
<u><strong>8. Tratamiento de datos personales</strong></u><br>
<p>Los datos recabados por HelloDog SpA del Usuario durante el uso del Sitio Web, serán tratados por HelloDog SpA conforme al Aviso de Privacidad mismo que se incorpora por referencia a los presentes Términos y Condiciones.</p>
<br>
<u><strong>9. Responsabilidad</strong></u><br>
<p>El acceso del Usuario al Sitio Web no implica para HelloDog SpA, la obligación de informar, controlar o, actuación alguna referente a la ausencia o presencia de virus, gusanos o cualquier otro elemento informático dañino. Los Usuarios no podrán imputarle responsabilidad alguna a HelloDog SpA, ni exigir indemnización bajo ningún concepto, por los perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en internet.
HelloDog SpA no garantiza el acceso y uso continuado e ininterrumpido del Sitio Web. El Sitio Web puede eventualmente no estar disponible debido a dificultades técnicas o fallas de internet, o por cualquier otra circunstancia ajena y no imputable a HelloDog SpA; en tales casos se procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad. Corresponde al Usuario, en todo caso, la disponibilidad de herramientas adecuadas para la detección y desinfección de programas informáticos dañinos.</p>
<p>HelloDog SpA no se responsabilizan de los daños o perjuicios de cualquier tipo producidos en el Usuario a causa de fallos o desconexiones en las redes de telecomunicaciones que produzcan la suspensión, cancelación o interrupción del servicio de la Sitio Web durante la prestación del mismo o con carácter previo.
La utilización ilegal o no autorizada de conformidad con los presentes Términos y Condiciones del Sitio Web, será investigada y HelloDog SpA tomará las acciones legales correspondientes.
El Usuario en este acto se obliga a indemnizar y sacar en paz y a salvo a HelloDog SpA y a sus subsidiarias, controladora, accionistas, directivos, empleados, funcionarios, consejeros y agentes frente a cualesquier acciones, procedimientos, responsabilidades, demandas, reclamaciones, pérdidas, responsabilidades, perjuicios, costos, daños, gastos y costas, así como los gastos, costos y honorarios de abogados y asesores externos que se deriven o se encuentren relacionados con la violación por parte del Usuario de los presentes Términos y Condiciones.</p>
<br>
<u><strong>10. Contenido del Sitio Web</strong></u><br>
<p>El Sitio Web contiene contenido propiedad de HelloDog SpA y de terceros (en lo sucesivo “Nutrición”).
En caso de considerar que cualquier Contenido publicado en el Sitio Web es violatorio de derechos de propiedad intelectual o industrial, podrá realizar una notificación enviando al correo electrónico.
HelloDog SpA no presume que el Contenido de su página pueda ser legalmente visto fuera Chile. El Contenido puede no ser legal para ciertas personas o en ciertos países. Si el Usuario tiene acceso al Contenido desde fuera de Chile, lo hace bajo su propio riesgo y es responsable por el cumplimiento de las leyes dentro de la jurisdicción en la que se encuentra el Usuario.</p>
<p>El Sitio Web contiene vínculos a sitios web de terceros. Estos vínculos se proporcionan tan sólo como una ventaja del Sitio Web para el Usuario y no implican que HelloDog SpA ha aprobado el contenido de dichos sitios web de terceros. HelloDog SpA no es responsable por el contenido de sitios web vinculados de terceros y no hace ninguna declaración con respecto al contenido o la veracidad del material en los sitios de dichos terceros. Si el Usuario decide tener acceso a los sitios web de terceros por medio de estos vínculos, lo hace bajo su propia responsabilidad y riesgo.</p>
<p>Queda prohibido a los Usuarios utilizar el Sitio Web para transmitir, distribuir, guardar o destruir material, incluyendo sin limitación, el Contenido en los casos en que dicho uso infrinja los derechos de autor, marcas registradas, otros derechos de propiedad intelectual o industrial de HelloDog SpA o de terceros.
HelloDog SpA  se reserva el derecho de suspender el uso a cualquier Usuario que realice actos que contravengan esta Sección; así mismo, HelloDog SpA podrá suspender en el uso del Sitio Web a cualquier Usuario cuando la suspensión sea ordenada por autoridad competente.</p>
Se prohíbe a los Usuarios el violar o intentar violar la seguridad del Sitio Web y de los Sitios Web afiliados de HelloDog SpA. Quedan prohibidas al Usuario: (a) acceder a datos a los cuales el Usuario no se encuentra autorizado para utilizar o iniciar sesión en un servidor o en una cuenta. (b) Intentar examinar, escanear o probar la vulnerabilidad de un sistema de informática o de una red o quebrantar las medidas de seguridad o autenticación sin la debida autorización. (c) Intentar interferir con el uso de cualquier otro Usuario, servicio de hospedaje o red, incluyendo, sin limitación, el transmitir un virus al Sitio Web o a los sitios web afiliados de HelloDog SpA; causar una saturación de dichos sitios mediante "inundación" (flooding), "envío de correo no deseado" (spamming), "bombardeo de correo" (mailbombing) o "generación de fallas" (crashing); (d) el envío de correos electrónicos no solicitados, incluyendo promociones y/o publicidad de productos o servicios, o; (e) falsificar cualquier encabezado de paquete TCP/IP o cualquier parte de la información del encabezado en cualquier correo electrónico o publicación en grupo de noticias.</p>
<p>El Usuario reconoce que las violaciones del sistema de informática o de la seguridad de la red pueden generar responsabilidades civiles o penales. HelloDog SpA investigará situaciones que puedan involucrar dichas violaciones y se reserva el derecho de denunciar tales acciones a las autoridades; HelloDog SpA cooperará con la autoridad competente en la investigación de dichas violaciones en los términos establecidos en la legislación aplicable.</p>
<br>
<u><strong>11. Terminación y modificación de los Términos y Condiciones</strong></u><br>
<p>HelloDog SpA podrá en cualquier momento suspender el acceso al Sitio Web y/o terminar los presentes Términos y Condiciones.</p>
<p>HelloDog SpA se reserva el derecho a modificar los presentes Términos y Condiciones, en cualquier momento, mismos que estarán vigentes una vez que se publiquen en el Sitio Web y/o las modificaciones sean comunicados por correo electrónico al Usuario. En caso de que el Usuario no acepte los términos y condiciones modificados deberá dejas de utilizar el Sitio Web.</p>


<br>
<u><strong>12. Datos de contacto para aclaraciones y reclamaciones</strong></u><br>
<p>El Usuario podrá realizar solicitudes de aclaraciones y reclamaciones enviando un correo electrónico a la dirección CORREO A DEFINIR y a través del número de atención a clientes NUMERO A DEFINIR.</p>
<br>
<u><strong>13. Misceláneos</strong></u><br>

<u><strong>A. Cesión:</strong></u><br>
<p>Los derechos concedidos al Usuario deben considerarse como derechos personales y el Usuario no podrá ceder o transmitirlos, ni autorizar a cualquier tercero para usarlos de cualquier manera. HelloDog SpA podrá ceder o transmitir de cualquier forma sus derechos y/o obligaciones a su cargo a cualquier tercero, subsidiaria o controladora de HelloDog SpA sin autorización previa del Usuario.</p>
<br>
<u><strong>B. Nulidad de algunas Cláusulas:</strong></u><br>
<p>Si cualquier disposición establecida en los presentes Términos y Condiciones es ilegal, nula o de imposible ejecución en alguna jurisdicción, no afectará: (i) la legalidad, validez o ejercicio en dicha jurisdicción de cualquier otra disposición del presente convenio; o (ii) la legalidad, validez o ejercicio en cualquier otra jurisdicción de dicha o cualquier otra disposición del presente convenio.</p>
<br>
<u><strong>C. Encabezados:</strong></u><br>
<p>Los encabezados de las cláusulas son incorporados al mismo sólo por conveniencia y para su mejor manejo, por lo que de ninguna manera se considerarán para efectos de su interpretación, ni afectarán las obligaciones en él contenidas.</p>
<br>
<u><strong>D. Totalidad del acuerdo entre las Partes:</strong></u><br>
<p>Los presentes Términos y Condiciones y el Aviso de Privacidad, así como cualesquiera modificaciones y/o aviso legales que se publiquen o comuniquen, de tiempo en tiempo, por HelloDog SpA a través del Sitio Web, constituyen la totalidad del acuerdo entre el Usuario y HelloDog SpA en relación con los Servicios ofrecidos por HelloDog SpA a través del Sitio Web.</p>
<br>
<u><strong>E. Legislación aplicable:</strong></u><br>
<p>Los presentes Términos y Condiciones se regirán e interpretarán de acuerdo con las leyes aplicables en Chile.</p>
<br>
<u><strong>F. Cláusula Arbitral:</strong></u><br>
<p>Todo litigio, controversia o reclamo resultante de este Contrato o relativo a él, su incumplimiento, terminación, resolución o nulidad, se resolverá mediante arbitraje de conformidad con la Cámara Nacional de Comercio, Servicios y Turismo en Chile. El lugar del arbitraje será en la ciudad de Santiago de Chile. El idioma que se utilizará en el procedimiento arbitral será español.</p>



{% endblock %}