{% block footer %}
	<footer class="footer">
	<div class="container">
		<h6 class="text-muted">Lorem ipsum dolor sit amet, elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. #45212256. Santiago,Chile </h6>
	</div>
	</footer>
{% endblock %}